<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.mondroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MondroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.hitherejoe.mondroid.ui.launcher.LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hitherejoe.mondroid.ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.hitherejoe.mondroid"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hitherejoe.mondroid.ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />

    </application>

</manifest>
