<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitherejoe.mondo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MondoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="redirecturi"
                    android:scheme="your" />
            </intent-filter>
        </activity>

    </application>

</manifest>
